@font-face {
    font-family: minim;
    src: url(../fonts/minim.otf);
  }
body{
    background-image: rgb(74,33,101);
    background-image: linear-gradient(142deg, rgba(74,33,101,1) 0%, rgba(253,77,29,1) 25%, rgba(69,98,252,1) 41%);
    background-attachment: fixed;
    min-width: var(--base-width); 
    margin: 0;
    padding: 0;
    font-family: minim, sans-serif;
    --base-width: 800px; /*base width of game*/
    --header-height: 90px;
    --footer-height: 77px;
    --main-min-height: calc(100vh - (var(--header-height) + var(--footer-height)))
}
 #site-header, #site-footer {
    
    width: 100%;
    background-color: #fff;
    padding:20px;
}
#site-header{

    box-shadow: #999 0px 2px 5px;
    height: var(--header-height);
}
#site-footer{
    height: var(--footer-height);
}

#site-header h1, #site-footer h4 {
    margin: 0;
}
#site-header h3 {
    margin: 0;
    width: 100%;
    background-color: #ccc;
}
#header-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#main{
    width: var(--base-width); 
    min-height: var(--main-min-height);
    margin: 20px auto;
    cursor: none;
}
#navMenu ul {
    
    display:flex;
    justify-content: flex-end;
    list-style-type: none;
    margin-bottom: 0;
    
}
